@using Shop.Models.Order
@model OrdersListingViewModel

<h3 class="text-center">Your products:</h3>
<div class="col">
    @foreach (var product in Model.Products)
    {
        <p><a asp-controller = "Product" asp-action = "Details" asp-route-id = "@product.Id">@product.Name</a> @product.Price</p>
    }
</div>
<hr />
<div class = "row">
    <p>Products: @Model.Count</p>
    <p>Price: @Model.Price</p>
</div>
<div class = "col">
    <a asp-controller = "Order" asp-action = "Buy" class = "btn btn-primary">Buy</a>
</div>